.franchise_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.franchise_description {
  display: flex;
  align-items: center;
  gap: 24px;
}

.franchise_logo {
  background-color: rgba(35, 34, 55, 1);
  padding: 15px 25.5px;
  border-radius: 15px;
}

.franchise_info h1 {
  font-size: 32px;
  font-weight: 700;
  color: rgba(35, 34, 55, 1);
  margin: 0;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.people h4 {
  font-size: 16px;
  color: rgba(35, 34, 55, 1);
  font-style: regular;
  font-weight: normal;
}

.suptitle p {
  font-weight: 600;
  color: rgba(35, 34, 55, 1);
  font-size: 12px;
}

.contact_phone button {
  background-color: rgba(39, 91, 138, 1);
  border-radius: 10px;
  padding: 16px 20px;
  font-size: 18px;
}

