.container {
  padding: 17.5px 70px;
  background-color: #151623;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left_site_header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.left_site_header a {
  font-family: "Montserrat", sans-serif;
}

.navigate_section {
  display: flex;
  gap: 40px;
  align-content: center;
}

.right_site_header a {
  font-family: "Montserrat", sans-serif;
}
